<p>
  productadd works!
</p>
<!-- 
<form id="newproduct" name="newproduct" (ngSubmit)="addnewproduct(form.value)"
   #postform="ngForm">
   ngModel
   <label>ProductNAme:</label><input type="text" id="name" #name="">
   <label>Productdesc:</label><input type="text" id="desc" #desc="ngModel">
   <input type="submit" value="add product">
</form>  -->
<form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin)" >
  <input type = "text" name = "name" placeholder = "name" ngModel #name="ngModel">
  <br/>
  <input type = "text" name = "cost" placeholder = "cost" ngModel #cost="ngModel">
  <br/>
  <input type = "submit" value = "submit">
</form> 