
<router-outlet></router-outlet>
<!--<a [routerLink]="/product">add product</a>  


<div>
  <span *ngFor="let item of storeproduct">{{item.part_name}}</span>
  <span *ngFor="let item of storeproduct">{{item.part_description}}</span>
  <span *ngFor="let item of storeproduct">{{item.part_vendor}}</span>
  <span *ngFor="let item of storeproduct">{{item.part_cost}}</span>
</div>

<div class="product-adder">
  <form action="#">
  <mat-form-field>
    <input matInput name="partname" placeholder="part name">
  </mat-form-field>
  <mat-form-field>
     <input matInput name="partvendor" placeholder="part vendor">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput name="partdescription" placeholder="part description"></textarea>
  </mat-form-field>

 <mat-form-field>
   <input matInput name="partcost" placeholder="part cost">
 </mat-form-field>
 <input type="submit">
</form>
</div>
-->